body{
    font-family: 'Teko', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.color1{
    color: rgb(6, 120, 173);
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: teal;
    color: white;
    font-weight: 500;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
.experience-item{
    width:40%;
    margin-left: 8%;
    margin-right: 8%;
    padding-left: 20px;
    padding-right: 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px grey;
}
#web-developer{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#full-stak-experience{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(238, 158, 10), rgb(7, 243, 223));
    border-image-slice: 1;
}
footer p {
    text-align: center;
}